/* Mixin
  ========================================================================== */


// mixin for fonts creating, used in gulp config
@mixin font($font_name, $file_name, $weight, $style) {

    @font-face {
        font-family: $font_name;
        font-display: swap;
        src: url("../fonts/#{$file_name}.woff") format("woff"),
        url("../fonts/#{$file_name}.woff2") format("woff2");
        font-weight: #{$weight};
        font-style: #{$style};
    }
}

// flex settings
@mixin flex($direction, $align-items, $justify-content) {
    display: flex;
    flex-direction: $direction;
    align-items: $align-items;
    justify-content: $justify-content;
}

// size to one line
@mixin size($width, $height: $width) {
    width: $width;
    height: $height;
}

// size in px

@mixin size_7px() {
    font-size: 7px;

    @include desktop {
        font-size: 12px;
    }

    @include laptop {
        font-size: 12px;
    }
}

@mixin size_10px() {
    font-size: 10px;

    @include desktop {
        font-size: 15px;
    }

    @include laptop {
        font-size: 15px;
    }
}

@mixin size_12px() {
    font-size: 12px;

    @include desktop {
        font-size: 15px;
    }

    @include laptop {
        font-size: 15px;
    }
}

@mixin size_15px() {
    font-size: 15px;

    @include desktop {
        font-size: 20px;
    }

    @include laptop {
        font-size: 20px;
    }
}

@mixin size_30px() {
    font-size: 30px;

    @include desktop {
        font-size: 35px;
    }

    @include laptop {
        font-size: 35px;
    }

    @include mobile {
        font-size: 25px;
    }
}

@mixin size_20px() {
    font-size: 20px;

    @include desktop {
        font-size: 25px;
    }

    @include laptop {
        font-size: 25px;
    }
}