/* Variables:
  ========================================================================== */

// fonts
$font_Exo: 'Exo',
sans-serif;
$font_OpenSans: 'Open Sans',
sans-serif;

//sizes
$size_7px: 7px;
$size_10px: 10px;
$size_12px: 12px;
$size_15px: 15px;
$size_30px: 30px;
$size_20px: 20px;


// colors
$main_Gray: #EEEEEE;
$bg_Gray: #B8BEC7;

$dark_Blue: #241F3F;
$light_Blue: #437ED8;
$light_Blue_opas: rgba($light_Blue, 0.16);

$black: black;
$white: white;